.App {
  text-align: center;
  background-color: #13131b;
  height: 100vh;
  color: white;
  font-family: "Open Sans";
}

.App-header {
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header.open {
  min-height: 25vh;
  transition: min-height 1000ms ease-in-out;
}

.App-header.closed {
  min-height: 100vh;
  transition: min-height 1000ms ease-in-out;
}

.App-footer {
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.App-footer.open {
  min-height: 5vh;
  transition: min-height 1000ms ease-in-out;
}

.App-footer.closed {
  min-height: 0vh;
  transition: min-height 1000ms ease-in-out;
}

.footer-stripe {
  height: 20px;
  width: 100%;
}

.location-search-box {
  position: fixed;
  background-color: white;
  height: 200px;
  width: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: table;
}

.ip-search-button {
  display: table-cell;
  vertical-align: middle;
}

.week-day-box {
  outline: 2px solid black;
  margin-left: 10%;
  margin-right: 10%;
}

.current-weather-component {
  margin-top: 25px;
  padding-top: 25px;
  padding-left: 5%;
  max-width: 600px;
  min-width: 250px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  padding-bottom: 40px;
}

.current-weather-temp {
  font-size: 65px;
  padding-right: 15%;
  margin-top: 25px;
}

.important-text {
  color: red;
  font-weight: bold;
}

.white-circle {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background-color: white;
  margin-right: 10px;
}

.subheader-text {
  font-size: 22px;
  font-weight: lighter;
}

.high-temp-font {
  font-weight: bolder;
  color: white;
  font-size: 20px;
}

.low-temp-font {
  font-weight: lighter;
  color: #e6e6e6;
  font-size: 20px;
}

.card-header-title {
  font-size: 20px;
  color: #aba0a0;
  font-weight: bold;
}

.card-header-subtitle {
  font-size: 25px;
  color: #aba0a0;
  font-weight: lighter;
}

.percipitation-font {
  padding-top: 25px;
  font-size: 25px;
  color: white;
  font-weight: lighter;
}
