.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header.open {
  min-height: 25vh;
  transition: min-height 1000ms ease-in-out;
}

.App-header.closed {
  min-height: 100vh;
  transition: min-height 1000ms ease-in-out;
}

.App-footer {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.App-footer.open {
  min-height: 5vh;
  transition: min-height 1000ms ease-in-out;
}

.App-footer.closed {
  min-height: 0vh;
  transition: min-height 1000ms ease-in-out;
}

.location-search-box {
  position: fixed;
  background-color: white;
  height: 200px;
  width: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: table;
}

.ip-search-button {
  display: table-cell;
  vertical-align: middle;
}

.week-day-box {
  outline: 2px solid black;
  margin-left: 10%;
  margin-right: 10%;
}

.current-weather-component {
  margin-top: 25px;
  padding-top: 25px;
  padding-left: 5%;
  width: 600px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  padding-bottom: 40px;
  border: 1.5px solid black;
  border-radius: 10px;
}

.current-weather-temp {
  float: left;
  font-size: 65px;
  padding-right: 15%;
  margin-top: 25px;
}
